@model Image
@{
	ViewData["Title"] = "Update Picture";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
	<div class="content">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h4 class="page-title">@ViewData["Title"]</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<form asp-controller="Picture" asp-action="Edit" method="post" enctype="multipart/form-data">
					@Html.AntiForgeryToken()
					<div class="row">
						<div class="col-sm-10">
							<div class="form-group">
								<label>Upload Images <span class="text-danger">*</span></label>
								<input class="form-control btn-info" type="file" name="image" accept=".png, .jpg, .jpeg" required>
							</div>
						</div>
					</div>
					<div class="m-t-20 text-center">
						<button type="submit" class="btn btn-primary submit-btn">Update Image</button>
						<input type="hidden" asp-for="ProductId" />
						<input type="hidden" asp-for="Id" value="@Model.Id" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>